#svg-wrapper {
  overflow: scroll;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg-wrapper.grabbing {
  cursor: grabbing;
}

#svg-wrapper svg {
  max-width: 100%;
  height: 100vh;
  display: block;
}

.svg-container {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;

}